---
- hosts: OpsManager
  remote_user: AZURE_SERVER_ADMIN
  become: yes
  vars:
    opsmanagerGPG: mongodb-mms-3.6.1.591-1.x86_64.rpm.gpg
    opsmanager: mongodb-mms-3.6.2.596-1.x86_64.rpm
  tasks:
  - name: opsmgr check
    stat: path=/home/AZURE_SERVER_ADMIN/{{opsmanagerGPG}}
    register: opsmgr_file
  - name: Download Ops Manager
    get_url: url=https://s3.amazonaws.com/syo-demos/binaries/opsmgr/rpm-3.6.0/{{opsmanager}} dest=/home/AZURE_SERVER_ADMIN/{{opsmanager}}
    when: opsmgr_file.stat.exists != True
  - name: Download Minio
    get_url: url=https://dl.minio.io/server/minio/release/linux-amd64/miniob dest=/home/AZURE_SERVER_ADMIN/minio
  - name: Make Minio Binarie executable
    file: path=/home/AZURE_SERVER_ADMIN/minio mode=0755
  - name: Install Ops Manager rpm
    yum: name=/home/AZURE_SERVER_ADMIN/{{opsmanager}} state=present
  - name: Start Ops Manager service
    service: name=mongodb-mms state=restarted
  - name: Wait 300 seconds for port 8080 to become open on the host, don't start checking for 20 seconds
    wait_for:
      port: 8080
      delay: 20
      msg: Looks like Ops Manager fails to start
    register: result
  - file: path=/data/head state=directory mode=0755 owner=mongodb-mms group=mongodb-mms
    when: result|succeeded
  - file: path=/data/snapshots state=directory mode=0755 owner=mongodb-mms group=mongodb-mms
    when: result|succeeded
  - name: Start Minio Server
    shell: minio gateway azure
    environment:
      MINIO_ACCESS_KEY: cloudshellstorageeast156
      MINIO_SECRET_KEY: f9boLMQ9XLzGMsh8BpxDU6Vj895f7BGNltuoi7+w8v92iQsSTxhzm3hveH3S+E9OXO4q11nPttx0u5/Ze+s2Hg==
