---
- name: Create Ops Manager VM
  hosts: localhost
  connection: local
  tasks:
  - name: Create a resource group
    azure_rm_resourcegroup:
      name: AZURE_RESOURCE_GROUP
      location: AZURE_RESOURCE_LOCATION
      tags:
          testing: testing
          delete: never
  - name: Create virtual network
    azure_rm_virtualnetwork:
      resource_group: AZURE_RESOURCE_GROUP
      name: opsMgrVnet
      address_prefixes: "10.0.0.0/16"
  - name: Add subnet
    azure_rm_subnet:
      resource_group: AZURE_RESOURCE_GROUP
      name: mySubnet
      address_prefix: "10.0.1.0/24"
      virtual_network: opsMgrVnet
  - name: Create public IP address
    azure_rm_publicipaddress:
      resource_group: AZURE_RESOURCE_GROUP
      allocation_method: Static
      domain_name_label: OPSMGR_SERVER_HOSTNAME
      name: OpsMgrPIP
  - name: Create Network Security Group that allows SSH
    azure_rm_securitygroup:
      resource_group: AZURE_RESOURCE_GROUP
      name: opsMgrNSG
      rules:
        - name: SSH
          protocol: Tcp
          destination_port_range: 22
          access: Allow
          priority: 1001
          direction: Inbound
  - name: Create virtual network inteface card
    azure_rm_networkinterface:
      resource_group: AZURE_RESOURCE_GROUP
      name: opsMgrNIC
      virtual_network: opsMgrVnet
      subnet: mySubnet
      public_ip_name: OpsMgrPIP
      security_group: opsMgrNSG
  - name: Create VM
    azure_rm_virtualmachine:
      resource_group: AZURE_RESOURCE_GROUP
      name: OpsMgr
      vm_size: Standard_DS1_v2
      admin_username: AZURE_SERVER_ADMIN
      short_hostname: OPSMGR_SERVER_HOSTNAME
      data_disks: 
        - lun: 0
          disk_size_gb: OPSMGR_DATA_DISK_SIZE
          managed_disk_type: OPSMGR_DATA_DISK_TYPE #Standard_LRS
      ssh_password_enabled: false
      ssh_public_keys: 
        - path: /home/AZURE_SERVER_ADMIN/.ssh/authorized_keys
          key_data: OPSMGR_SSHKEY_PUBLIC
      network_interfaces: opsMgrNIC
      image:
        offer: CentOS
        publisher: OpenLogic
        sku: '7.3'
        version: latest
