---
platform: linux

image_resource:
  type: docker-image
  source: 
    repository: schabiyo/puppeteer2 
    tag: latest


params:
  AZURE_SUBSCRIPTION_ID:
  AZURE_CLIENT_ID: 
  AZURE_SECRET: 
  AZURE_TENANT: 

  AZURE_RESOURCE_GROUP:
  AZURE_RESOURCE_LOCATION:
  OPSMGR_SERVER_HOSTNAME:
  AZURE_SERVER_ADMIN:
  


inputs:
  - name: opsmgr-pipeline

run:
    path: opsmgr-pipeline/ci/azure/tasks/configure-opsmgr.sh
