---
platform: linux

image_resource:
  type: docker-image
  source: 
  repository: schabiyo/mongodb-azure-ci 
  tag: latest


params:
  AZURE_SUBSCRIPTION_ID:
  AZURE_CLIENT_ID: 
  AZURE_SECRET: 
  AZURE_TENANT: 

  AZURE_RESOURCE_GROUP:
  AZURE_RESOURCE_LOCATION:

  jumpbox_admin_password:
  server_ssh_private_key:
  server_ssh_public_key:
  server_admin_username:
  server_prefix:


inputs:
  - name: opsmgr-pipeline
  - name: keys-out
  - name: parameters-out

run:
    path: opsmgr-pipeline/ci/azure/tasks/create-opsmgr-vm.sh
